.cursorcolor h3 {
    color: #083b66;
}

.cursorcolor a {
    border-color: white;
    color: #4bc4d1;
}

.cursorcolor a:hover {
    color: white;
    background-color: #4bc4d1;
    border-color: white;
}