@import url(plantila.css);

/*body {
    background-image: url("../images/dolphin-background-5386747_1920.jpg");
    background-size: cover;
}*/

.jumbotron {
    background-size: cover;
}

.shadowtilt {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .8));
}


/*iamgenes del carousel*/

.imgtmncrsl {
    width: 100%;
    height: 380px;
    object-fit: cover;
}


/*imagenes*/

.imgtmn {
    width: 100%;
    height: 100%;
}


/*Imagenes Carousel*/

.carouseltmn {
    height: 375px;
}

.captionCrl {
    width: auto;
    height: 100%;
    color: #fff;
    margin: 0;
    margin-left: 60%;
    margin-right: 1%;
    background-color: rgba(222, 226, 221, .7);
    /* asignar el color y  transparencia */
    position: absolute;
    bottom: 0;
}

.titlecapt {
    padding-top: 15%;
    color: #4bc4d1;
    font-size: 40px;
}

.txtcapt {
    color: #083b66;
}


/* texto imagenes*/

.caption {
    width: 95%;
    color: #fff;
    margin: 0;
    /*background-color: rgba(0, 0, 0, .5);*/
    background-color: rgba(222, 226, 221, .6);
    /* asignar el color y  transparencia */
    position: absolute;
    bottom: 0;
}

.titlemost {
    color: #4bc4d1;
    padding: 5px 5px 10px;
    font-size: 50px;
}


/*imagenes*/

.rowtop {
    padding-top: 10px;
}

.colorcont {
    color: black;
}

.tmncont {
    height: 315px;
}

.imgdisn img:hover {
    transform: scale(1.03);
}

.txtflt {
    float: right;
}

@media (max-width: 991.98px) {
    /*Imagenes Carousel*/
    .carouseltmn {
        height: 300px;
    }
    .captionCrl {
        width: auto;
        height: 100%;
        color: #fff;
        margin: 0;
        margin-left: 30%;
        margin-right: 1%;
        background-color: rgba(222, 226, 221, .7);
        /* asignar el color y  transparencia */
        position: absolute;
        bottom: 0;
    }
    .txtcapt {
        color: #083b66;
        font-size: 14px;
    }
    /*imagenes*/
    .tmncont {
        height: 200px;
    }
    .caption {
        width: 90%;
        color: #fff;
        margin: 0;
        /*background-color: rgba(0, 0, 0, .5);*/
        background-color: rgba(222, 226, 221, .6);
        /* asignar el color y  transparencia */
        position: absolute;
        bottom: 0;
    }
    .sizetlt {
        font-size: 35px;
    }
    .txtflt {
        float: left;
    }
}