.card-contenido {

    flex: 1 400px;
    padding: 10px 5px 10px 5px;
    margin-right: 5px;
    margin-bottom: 5px;

}


.panel-read{
    float: right;
    margin-right: 10% ;
    margin-bottom: 10%;
}

.imagelibro{
    width: 100%;


}

.textlbr{
    margin-top: 10%;
    text-align: justify;

}


.reactionlbr{
    padding-left: 3%;
}

.tittlelbro{

    margin-bottom: 1%;
}

.content-lbr{
text-align: justify;
}


.Card_ima_thum{
    width: 100%;
    height: 70%;
}


.reactionconte{
    margin: auto;
}

.img-librcont{
    width: 60%;
    height: auto;
    display: block;
    margin:auto;
    margin-top: 1%;

}
.img-libro{
    height: 480px
}
.img-car{
    padding: 1px 1px 0 1px;
    height: 315px;
}

@media(max-width: 1000px){
    .img-libro{
        height: 250px;
    }
}

.hiddenpost{
    visibility: hidden;
}
.upercase{
    text-transform: uppercase;
}
